<div id="book-page">
    <div class="container">
        <h1>{{book.s_title_books}}</h1>
        <p>Este livro tem {{book.s_pageqtd_books}} páginas .</p>
    </div>
</div>

<a href="/books" class="left">Voltar</a>