<section class="divAligned centered">
    <h1>Todas as tasks</h1>
    {{#if tasks.length}}
        <div id="allTasks">
            {{#each tasks}}
                <div class="item">
                    <a href="/" class="tittle">{{this.title}}</a>
                    <div class="actions">
                        <a href="/" class="green"><i class="bi bi-check2"></i></a>
                        <a href="/tasks/edit/{{this.id}}" class="black"><i class="bi bi-pencil-square"></i></a>
                        <form action="/tasks/remove" method="POST">
                            <input type="hidden" name="id" value={{this.id}}>
                            <button type="submit" id="submitRemove"><i class="bi bi-x-lg red"></i></button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>Você Ainda Não Adicionou nenhuma Task!!!</p>
    {{/if}}
</section>