<section class="delete">
    <h1><span>DELETE :</span> {{book.s_title_books}} ?</h1>

    <form action="/books/confirmdelete" method="post">
        <input type="hidden" name="id" value="{{book.i_id_books}}">
        <input type="submit" value="DELETE">
        <a href="/books/{{book.i_id_books}}">CANCEL</a>
    </form>
</section>

