<h1>Usuários cadastrados : </h1>

<div id="container">
    {{#each users}}
        <div class="item">
            <h1>{{this.name}}</h1>
            <p>{{this.occupation}}</p>
            <div class="actions">
                <a href="/users/{{this.id}}">Ver detealhes</a>
            </div>
        </div>
    {{/each}}
</div>